<% content_for(:page_title) do %>
  &nbsp;
<% end %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), claims_path, class: 'govuk-back-link' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'claims/claim_summary', locals: { claim:, claim_summary: } %>
    <%= render partial: 'claims/claim_nav', locals: { claim: claim, current_page: 'supporting_evidences' } %>
    <h2 class="govuk-heading-l">
      <%= t('.heading') %>
    </h2>
  </div>
</div>
