<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
              <li class="moj-primary-navigation__item">
                <%= link_to t('.prior_authority'), dashboard_path(service: 'prior_authority'), class: 'moj-primary-navigation__link', 'aria-current': (@service == 'prior_authority' ? 'page' : nil) %>
              </li>
              <li class="moj-primary-navigation__item">
                <%= link_to t('.nsm'), dashboard_path(service: 'nsm'), class: 'moj-primary-navigation__link', 'aria-current': (@service == 'nsm' ? 'page' :nil) %>
              </li>
          </ul>
        </nav>
    </div>
  </div>
</div>
