<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
              <li class="moj-primary-navigation__item">
                <%= link_to t('.prior_authority'), new_dashboard_path(nav_select: 'prior_authority'), class: 'moj-primary-navigation__link', 'aria-current': (@nav_select == 'prior_authority' ? 'page' : nil) %>
              </li>
              <% if FeatureFlags.nsm_insights.enabled? %>
                <li class="moj-primary-navigation__item">
                  <%= link_to t('.nsm'), new_dashboard_path(nav_select: 'nsm'), class: 'moj-primary-navigation__link', 'aria-current': (@nav_select == 'nsm' ? 'page' :nil) %>
                </li>
              <% end %>
              <li class="moj-primary-navigation__item">
                  <%= link_to t('.search'), new_dashboard_path(nav_select: 'search'), class: 'moj-primary-navigation__link', 'aria-current': (@nav_select == 'search' ? 'page' :nil) %>
              </li>
          </ul>
        </nav>
    </div>
  </div>
</div>
