<% current ||= :your %>
<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
              <li class="moj-primary-navigation__item">
                <%= link_to t('prior_authority.your_applications'), your_prior_authority_applications_path, class: 'moj-primary-navigation__link', 'aria-current': (current == :your ? 'page' : nil) %>
              </li>
              <li class="moj-primary-navigation__item">
                <%= link_to t('prior_authority.open_applications'), open_prior_authority_applications_path, class: 'moj-primary-navigation__link', 'aria-current': (current == :open ? 'page' : nil) %>
              </li>
              <li class="moj-primary-navigation__item">
                <%= link_to t('prior_authority.closed_applications'), closed_prior_authority_applications_path, class: 'moj-primary-navigation__link', 'aria-current': (current == :assessed ? 'page' : nil) %>
              </li>
              <% if FeatureFlags.search.enabled? %>
                <li class="moj-primary-navigation__item">
                  <%= link_to t('prior_authority.search'), new_prior_authority_search_path, class: 'moj-primary-navigation__link', 'aria-current': (current == :search ? 'page' : nil) %>
                </li>
              <% end %>
          </ul>
        </nav>
    </div>
  </div>
</div>
