<nav class="moj-sub-navigation" aria-label="Sub navigation" id="claim_nav">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <%= link_to t('.overview'), '#', class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'overview' ? "page" : nil) %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('.adjust_quote'), prior_authority_application_adjustments_path(application), class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'adjust_quote' ? "page" : nil), data: { turbo: 'false' } %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('.related_applications'), '#', class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'related_applications' ? "page" : nil) %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('.application_history'), '#', class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'application_history' ? "page" : nil) %>
    </li>
  </ul>
</nav>
