<div class="govuk-button-group">
  <%= govuk_button_link_to( t('.make_decision'), '#PENDING', { primary: true }) %>
  <%= govuk_button_link_to(t('.send_back'), '#PENDING', { warning: true }) %>
</div>
