<div class="govuk-button-group">
  <%= govuk_button_link_to( t('.make_decision'), claim_make_decision_index_path(claim), { primary: true }) %>
  <%= govuk_button_link_to(t('.send_back'), claim_send_back_index_path(claim), { warning: true }) %>
</div>
