<% flash.each do |type, msg| %>
  <%= govuk_notification_banner(title_text: t(:title, scope: "flash.#{type}"), success: type == 'success') do |banner| %>
    <% Array(msg).each do |detail| %>
      <p><%= sanitize(detail, tags: %w[a]) %></p>
    <% end %>
  <% end %>
<% end %>
