<% if local_assigns[:pagy] %>
  <div class="app-pagination__container govuk-grid-row govuk-!-display-none-print">
    <div class="govuk-grid-column-two-quarters">
      <%= govuk_pagination(pagy:) %>
    </div>
  </div>
<% end %>
