<% title t('assess_a_crime_form.service_name') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('assess_a_crime_form.service_name') %>
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      <%= link_to(t('.prior_authority'), prior_authority_root_path, class: 'govuk-link--no-visited-state', data: { turbo: false }) %>
    </p>
    <p>
      <%= link_to(t('.nsm'), nsm_root_path, class: 'govuk-link--no-visited-state', data: { turbo: false }) %>
    </p>
    <% if current_user.supervisor? && FeatureFlags.insights.enabled? %>
      <p>
        <%= link_to t('.analytics'), dashboard_path, class: 'govuk-header__link' %>
      </p>
    <% end %>
  </div>
</div>
