<% title t('.page_title') %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), claim_adjustments_path(claim, anchor: 'letters-and-calls-tab'), class: 'govuk-back-link', data: { turbo: 'false' } %>
<% end %>

<div class="govuk-grid-row" id="work-items-adjustment-container">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading') %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%=
      rows = [
        [t('.date'), format_in_zone(item.completed_on)],
        [t('.time_spent'), format_period(item.time_spent)],
        [t('.fee_earner'), item.fee_earner.to_s],
        [t('.uplift_claimed'), "#{item.uplift}%"],
        [t('.total_claimed'), "todo"]
      ]
      govuk_table(head: '', first_cell_is_header: true, rows:) do |tab|
        tab.with_caption(text: t('.provider_submission'), size: 'l')
      end
    %>

    <h2 class="govuk-heading-l"><%= t('.laa_adjustments') %></h2>
  </div>
</div>
