<% title t('.page_title') %>

<% content_for(:back_link) do %>
  <%=# Did we come from a page in the app?
  has_referrer = @referrer.nil?

  # Did we just reload the same page?
  came_from_current_path =
    url_for == nsm_claim_work_item_path(claim.id, item.id)

  link_to t("helpers.back_link"),
  (
    if has_referrer || came_from_current_path
      item.backlink_path(claim)
    else
      "#{@referrer}##{item.id}"
    end
  ),
  class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row" id="work-items-adjustment-container">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading') %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%=
      rows = item.provider_fields.map do |key, value|
        [{ text: t(key), width: 'govuk-!-width-one-half' }, value]
      end
      govuk_table(head: '', rows:, first_cell_is_header: true) do |table|
        table.with_caption(text:  t('.provider_submission'), size: 'l')
      end
    %>

    <% if item.any_adjustments? %>
      <%=
        rows = [
          [{ text: t('.work_type'), width: 'govuk-!-width-one-half' }, item.work_type.to_s],
          [t('.time_spent_changed'), format_period(item.time_spent)],
          [t('.item_rate_allowed'), NumberTo.pounds(item.pricing)],
          [{ text: t('.uplift_allowed'), width: 'govuk-!-width-one-half' }, "#{item.uplift.to_i}%"],
          [t('.caseworker_allowed'), NumberTo.pounds(item.caseworker_amount)],
          [t('.explanation'), item.adjustment_comment],
        ]

        govuk_table(head: '', rows:, first_cell_is_header: true) do |table|
          table.with_caption(text:  t('.laa_adjustments'), size: 'l')
        end
      %>
    <% end %>
  </div>
</div>
