<% additional_costs.each_with_index do |additional_cost, index| %>

  <h2 class="govuk-heading-m"><%= t('.additional_cost', n: index + 1) %></h2>

  <p class="govuk-text"><%= t(".cost_description", name: additional_cost.name, description: additional_cost.description) %></p>

  <%= govuk_table do |table|
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(text: t('.details'))
            row.with_cell(text: t('.requested'))
            row.with_cell(text: t('.adjusted'))
          end
        end

        table.with_body do |body|
          body.with_row do |row|
            row.with_cell(text: additional_cost.unit_label)
            row.with_cell(text: additional_cost.unit_description)
          row.with_cell(text: '') # TODO: CRM457-1114
          end

          body.with_row do |row|
            row.with_cell(text: t('.cost'))
            row.with_cell(text: additional_cost.formatted_cost_per_unit)
            row.with_cell(text: '') # TODO: CRM457-1114
          end

          body.with_row do |row|
            row.with_cell(text: t('.total'))
            row.with_cell(text: additional_cost.formatted_total_cost)
            row.with_cell(text: '') # TODO: CRM457-1114
          end
        end
      end %>
  <%= link_to t(".adjust_additional_cost"),
              edit_prior_authority_application_additional_cost_path(application, additional_cost.id),
              class: 'govuk-button govuk-button--secondary' %>
<% end %>
