<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body govuk-body-m"><%= claim_summary.laa_reference %></p>
    <h1 class="govuk-heading-xl"><%= t('.heading', defendant_name: claim_summary.defendants[0]['full_name']) %></h1>
  </div>
</div>
