<p>
  <%= link_to t('.prototype_dashboard'), 'https://crmfour-proto-main.apps.live.cloud-platform.service.justice.gov.uk/metabase-caseworker', class: 'govuk-link--no-visited-state' %>
</p>
<p>
  <%= link_to t('.prototype_search'), 'https://crmfour-proto-main.apps.live.cloud-platform.service.justice.gov.uk/caseworker/crm-assess-search1', class: 'govuk-link--no-visited-state' %>
</p>
