<nav class="moj-sub-navigation" aria-label="Sub navigation" id="nsm_nav">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <%= link_to t('dashboards.show.nav.overview'),
        dashboard_path(service: 'nsm', current_tab: 'overview'),
        class: 'moj-sub-navigation__link',
        'aria-current': (@current_tab == 'overview' ? "page" : nil) %>
    </li>
  </ul>
</nav>
