<nav class="moj-sub-navigation" aria-label="Sub navigation" id="prior_authority_nav">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <%= link_to t('dashboards.show.nav.overview'),
        dashboard_path(service: 'prior_authority', current_tab: 'overview'),
        class: 'moj-sub-navigation__link',
        'aria-current': (@current_tab == 'overview' ? "page" : nil) %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('dashboards.show.nav.allocation'),
        dashboard_path(service:'prior_authority', current_tab: 'allocation'),
        class: 'moj-sub-navigation__link',
        'aria-current': (@current_tab == 'allocation' ? "page" : nil) %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('dashboards.show.nav.autogrant'),
        dashboard_path(service:'prior_authority', current_tab: 'autogrant'),
        class: 'moj-sub-navigation__link',
        'aria-current': (@current_tab == 'autogrant' ? "page" : nil) %>
    </li>
  </ul>
</nav>
