<% title t('.title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <iframe src="<%= @iframe_url %>"
            frameborder="0"
            width="800"
            height="600"
            allowtransparency></iframe>
  </div>
</div>
