<% title t('.title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".heading.#{@service}") %></h1>
    <% if @service == 'prior_authority' %>
      <%= render 'prior_authority_nav' %>
    <% elsif @service == 'nsm' %>
      <%= render 'nsm_nav' %>
    <% end %>
    <%= render 'tab_content' %>
  </div>
</div>
