<% title t('.title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".heading.#{@nav_select}") %></h1>
    <%= render 'tab_content' %>
  </div>
</div>
