<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if records.rows.none? { _1.any_adjustments? } %>
      <p><%= t('.no_data') %></p>
    <% else %>
      <%=
      caption = t('.table_caption')
      head = Nsm::V1::LetterAndCall.adjusted_headers
      rows = records.rows.map do |letter_and_call|
        next unless letter_and_call.any_adjustments?

        fields = letter_and_call.adjusted_table_fields.dup
        destination = if claim.editable_by?(current_user)
                        edit_nsm_claim_letters_and_call_path(claim_id: claim.id, id: letter_and_call.type.value)
                      else
                        nsm_claim_letters_and_call_path(claim_id: claim.id, id: letter_and_call.type.value)
                      end
        fields[0] = link_to(fields[0], destination, data: { turbo: 'false' })
        fields
      end
      govuk_table(first_cell_is_header: true) do |t|
        t.with_caption(text: caption, classes: ['govuk-visually-hidden'])
        t.with_head(rows: [head])
        t.with_body(rows: rows, first_cell_is_header: true)
      end
      %>
    <% end %>
  </div>
</div>
</turbo-frame>
