<% title t('.page_title') %>

<turbo-frame id="disbursements">
  <h3 class="govuk-heading-m">
    <%= t('.disbursements') %>
  </h3>

  <% head = Nsm::V1::Disbursement.headers %>
  <% if disbursements.size.zero? %>
    <p><%= t('.no_data') %></p>
  <% else %>
    <% disbursements.group_by(&:disbursement_date).each do |disbursement_date, disbursements_for_date| %>
      <%=
        rows = disbursements_for_date.map do |disbursement|
          link = if claim.editable?
                  link_to(t('.change'), edit_nsm_claim_disbursement_path(claim_id: claim.id, id: disbursement.id), data: { turbo: 'false' })
                else
                  link_to(t('.view'), nsm_claim_disbursement_path(claim_id: claim.id, id: disbursement.id), data: { turbo: 'false' })
                end

          [
            *disbursement.table_fields,
            link
          ]
        end
        govuk_table do |table|
          table.with_caption(text: disbursement_date.strftime('%-d %B %Y'), size: 's')
          table.with_head(rows: [head])
          table.with_body(rows: rows, first_cell_is_header: true)
        end
      %>
    <% end %>
    <%= render 'shared/pagination', pagy: pagy, item: t(".table_info_item") %>
  <% end %>
</turbo-frame>
