<% content_for(:primary_navigation) do %>
  <% render partial: 'layouts/prior_authority/primary_navigation', current: :your %>
<% end %>
<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'prior_authority/shared/application_nav', application_summary: @summary, current_page: 'overview' %>
  </div>
</div>
