<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if records.rows.none? { _1.any_adjustments? } %>
      <p><%= t('.no_data') %></p>
    <% else %>
      <%=
      caption = t('.table_caption')
      head = Nsm::V1::AdditionalFee.headers
      rows = records.rows.reject{ _1.type == :total }.map do |additional_fee|
        next unless additional_fee.any_adjustments?

        fields = additional_fee.table_fields.dup
        destination = if policy(claim).update?
                        edit_nsm_claim_additional_fee_path(claim_id: claim.id, id: additional_fee.type)
                      else
                        nsm_claim_additional_fee_path(claim_id: claim.id, id: additional_fee.type)
                      end
        fields[0] = link_to(fields[0], destination, data: { turbo: 'false' })
        fields
      end
      govuk_table(first_cell_is_header: true) do |t|
        t.with_caption(text: caption, classes: ['govuk-visually-hidden'])
        t.with_head(rows: [head])
        t.with_body(rows: rows, first_cell_is_header: true)
      end
      %>
    <% end %>
  </div>
</div>

