<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <% if your_claims.none? %>
      <h2 class="govuk-body-l"><%= t('.no_claims') %></h2>
    <% end %>
    <div class="govuk-button-group">
      <%= govuk_button_to(t('.next_claim'), nsm_claim_path) %>
    </div>
    <% if your_claims.any? %>
      <%= render 'table',
                path: your_nsm_claims_path,
                 columns: {
                    laa_reference: :laa_reference,
                    firm_name: :firm_name,
                    main_defendant_name: :main_defendant_name,
                    date_updated: :date_updated,
                    risk: :risk_name,
                    status: :state_tag
                 },
                claims: your_claims, pagy: pagy %>
    <% end %>
  </div>
</div>
